body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F0EDCF;
  transition: background-color 0.7s ease;
}
body.dark-mode{
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #07010b;
}
.main-head{
  padding-top:30px; 
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  font-family:'Courier New', Courier, monospace ;
  color: rgb(27, 54, 122);
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fbf9f1d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-size: 20pt;
  font-weight: 900;
  font-family:'Courier New', Courier, monospace;
  transition: background-color 1s ease;
}
body.dark-mode .container{
  background-color: #1a1a25;
  box-shadow: 0 0 10px rgba(236, 196, 255, 0.4);
  color: rgb(180, 180, 180);
}
.new {
  text-align: center;
  margin-bottom: 10px;
}

.new button {
  display: inline-block;
  padding: 10px 20px;
  margin: 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #40A2D8;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: background-color 0.8s ease;
  
}
body.dark-mode .new button{
  background-color: #444454;
  color: rgb(180, 180, 180);
  box-shadow: 0 0 10px rgba(109, 103, 112, 0.25);
}
.new button:hover {
  background-color: #1370a2;
}
body.dark-mode .new button:hover {
  background-color: #07010b;
  color: #fff;
  transition: background-color 0.2s;
}

button {
  display: block;
  width: auto;
  padding: 10px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.7s ease;
}

button:hover {
  background-color: #27ae60;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0B60B0;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;
}
body.dark-mode .sidepanel{
  background-color:#1a1a25;
  color: rgb(180, 180, 180);
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #b4ac4d;
}
body.dark-mode .sidepanel a:hover {
  color: #b187d7;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  margin-left: 0px;
  text-align: left;
  font-size: 20px;
  width: 50px;
  cursor: pointer;
  background-color: #0B60B0;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 0%;
  display: inline-block;
}
body.dark-mode .openbtn{
  background-color:#1a1a25;
}
.dark {
  margin-left: 0px;
  text-align: left;
  font-size: 20px;
  width: 50px;
  cursor: pointer;
  background-color: #0B60B0;
  color: white;
  padding: 10px 11px;
  border: none;
  border-radius: 0%;
  display: inline-block;
}
body.dark-mode .dark{
  background-color:#1a1a25;
}
.topnav{
  padding: auto;
  background-color: #0B60B0;
  transition: background-color 1s ease;
}
body.dark-mode .topnav{
  padding: auto;
  background-color: #1a1a25;
}
.openbtn:hover {
  background-color:#00305e;
}
.dark:hover {
  background-color:#00305e;
}
/* Initial state */
.sidepanel {
  clip-path: polygon(0 0, 100% 0, 0 100%);
  width: 0;
  transition: all 1.5s;
}

/* Shaped state */
.sidepanel.shaped {
  clip-path: polygon(0 0, 100% 0, 0 100%);
  width: 250px;
  transition: all 1.5s;
}
